body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Сховати елементи */
.hide {
    display: none !important;
}

/* Стилі для форми авторизації */
.form {
    text-align: center;
    margin-top: 100px;
    padding: 40px;
    background-color: #CBEEF5;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: 3px solid #8898E9;
}

.form input {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.main-body {
    background-color: #AAD4EE;
    width: 1136px;
    min-height: 80vh;
    margin: 100px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid #8898E9;
    border-top-left-radius: 74px;
    border-top-right-radius: 74px;
    flex-direction: column;
    padding-bottom: 50px;
}

.border {
    border: 5px solid #374E88;
    background-color: #CBEEF5;
    padding: 30px;
    border-radius: 20px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.logo-text {
    font-size: 64px;
    color: #222F74;
}

.logo-button {
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 29px;
    background-color: #D5EEF6;
    border: 2px solid #A7AAED;
    color: #647F98;
    cursor: pointer;
}

.mova {
    border-radius: 51px;
    border: 3px solid #478AAC;
    background-color: #BBE2F5;
    color: #036B5F;
    font-size: 25px;
    padding: 10px;
    height: 60px;
}

.strelochki {
    width: 60px;
    height: 60px;
}

.pole {
    width: 350px;
    height: 250px;
    background-color: #93D4D9;
    border: 4px solid #036B5F;
    border-radius: 30px;
    padding: 20px;
    font-size: 18px;
    resize: none;
}

.translatebutton {
    padding: 15px 40px;
    background-color: #88D1E4;
    border: 3px solid #5F87B0;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.translatebutton:hover {
    background-color: #5F87B0;
    color: white;
}

.translate-button-block {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer {
    background-color: #95C9F1;
    border: 7px solid #87ADE3;
    width: 1136px;
    height: 150px;
    margin: 0 auto;
    border-bottom-right-radius: 74px;
    border-bottom-left-radius: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    box-sizing: border-box;
}

.copyright {
    color: #508FED;
    font-size: 24px;
}